.title{
    padding-top: 5%;
    padding-bottom: 0.5%;
}

.text{
    padding-bottom:0.5%;
}

.search{
    padding-bottom: 2%;
}

.topnav{
    background-color: #ADD8E6;
    padding-top: 3%;
}

.image{
    padding-top: 1%;
}

